.appointmentForm {
    display: inline-block;
    width: 20%;
    margin-right: 40px;
    vertical-align: top;
}
.appointmentList1 {
    display: inline-block;
    vertical-align: top;
}
#searchDateForm {
    display: inline-block;
    width: 50%;
    vertical-align: bottom;
    margin-right: 20px;
}
#searchBtn {
    display: inline-block;
    width: 10%;
    vertical-align: bottom;
    padding-bottom: 15px;
}
#addBtn {
    display: inline-block;
    width: 15%;
    vertical-align: bottom;
    padding-bottom: 15px;
}
.appAddForm {
    width: 30%;
}