.residentPhoto>img {
    width: 250px;
    height: auto;
    border: solid 1px gray;
    border-radius: 5px;
    overflow: hidden;
}
.residentPhoto {
    float: left;
    margin-right: 40px;
}
.residentData {
    float: left;
    margin-left: 50px;
    width: 20%;
}
span {
    font-weight: bold;
}

.catagoryTitle {
    border-bottom: 1px solid #fff;
    font-weight: bold;
    font-style: italic;
    line-height: 30px;
}

.emergencyContactInfo {
    margin-left: 20px;
}