.header {
    font-size: 50px;
    font-weight: bold;
    padding: 10px 50px;
    background-color: rgba(168, 167, 167, 0.2);
    box-shadow: 0 0 10px 0 rgba(231, 231, 231, 0.5);
    display: flex;
}
.header-icon {
    width: 60px;
}
.header-icon>img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}
.header-title {
    flex-grow: 1;
    line-height: 10px;
    padding-top: 20px;
}
.header-title>span {
    font-size: 10px;
}
.logoutBtn {
    cursor: pointer;
    font-size: 12px;
}
